@model MTGCards.Models.DeckListViewModel
@{ ViewBag.Title = "List"; }
@if(Model.deckList.Count > 0) {
    <table class="statsTable">
        <thead>
            <tr>
                <th>Name</th>
                <th class="center">Edit</th>
                <th class="center">Statistics</th>
                <th class="center">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var deck in Model.deckList) {
                <tr>
                    <td>@deck.Name</td>
                    <td class="center size50"><a href="@Url.Action("Create", "Deck", new { id = deck.Id })">Edit</a></td>
                    <td class="center size50"><a href="@Url.Action("Statistics", "Deck", new { id = deck.Id })">Statistics</a></td>
                    <td class="center size50"><a href="@Url.Action("Delete", "Deck", new { id = deck.Id })">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
} else {
    <p>No decks found.  You can create one by clicking <a href="@Url.Action("Create")">here</a>.</p>
}